body, html {
  display: flex;
  flex-flow: row;
  position: absolute;  
  top: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 1)
}